button {
   background-color: rgb(24, 175, 23);
   color: rgb(0, 0, 0);

   margin: 15px;
   font-weight: 800;
   height: 30px;
   width: auto;
   outline: none;
   border-radius: 5px;

   box-shadow: black 1px 1px 5px;

   &:hover {
      background-color: rgb(24, 213, 23);
      color: rgb(20, 20, 21);
   }

   &:active{
      box-shadow: grey 1px 1px 2px;
   }

   &.yellow{
      background-color: #dda07a;

      &:hover{
         background-color: #ffa07a;
      }
   }
}
